.wrapper {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.start{
  margin-top: 5vh;
  margin-left: 15vw;
  align-self: center;
  width: 20vw;
  height: 10vh;
  font-size: 2vw;
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-weight: bold;
  background-color: red;
  border-color: white;
  border-radius: 10px;
}

.timer{ 
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5vw;
  align-self: center;
  margin-left: 15vw;
}

.pokeWrap{
  align-self: center;
  margin-left: 10vw;
}

.pokeImg {
  min-width: 300px;
  margin-top: -5vh;
}

#revealImg {
  filter: brightness(100%);
}

#hiddenImg {
  filter: brightness(0%);
}

.pokeName {
  font-family: 'Press Start 2P', cursive;
  font-size: 3vw;
  text-transform: uppercase;
  margin-top: -5vh;
}

